<% include ./partials/html-top.ejs %>
<div class="container">
    <nav class="navbar navbar-light justify-content-start" style="background-color: #dddddd;">
        <a href="/">
            <button class="btn btn-outline-primary">Home</button>
        </a>
        <a href="#">
            <button class="btn btn-outline-primary">Sign up</button>
        </a>
        <a href="/auth/login">
            <button class="btn btn-outline-primary active">Log in</button>
        </a>
    </nav>
    <div class="row justify-content-center login-header">
        <h4>Please use your Gmail account to log in or fill the form</h4>
    </div>
    <div class="row justify-content-center">
        <a href="/auth/google">
            <button class="btn btn-danger google-button">Google</button>
        </a>
    </div>
</div>
<% include ./partials/html-bottom.ejs %>